* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #FFFFFF;
  font-size: 5em;
  margin-bottom: 2rem;
}

.main-content {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-auto-columns: 50%;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 100vh; 
}

.left-column {
  align-items: center;
  background-color: #455A64;
  display: flex;
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
  height: 100%;
  justify-content: center;
  margin-bottom: 0;
  position: fixed;
  width: 50%;
}


.right-column {
  background-color: #CFD8DC;
  grid-column: 2 / span 1;
  height: 100%;
  width: 100%;
}

.logo-photo {
  width: 1.5em;
}

.enter {
  background-color: #FFC107;
  color: #FFFFFF;
  outline: none;
  padding: 1em;
  width: 100%;
}

.enter:disabled:hover {
  background-color: #FFC107;
  color: #FFFFFF;

}

.enter:hover {
  background-color: #FFD773;
}

div{
  padding-top: 5rem;
  text-align: center;
}

input{
  align-items: center;
  box-sizing: border-box;
  display: block;
  justify-content: center;
  margin-bottom: 3rem;
  outline: none;
  padding: 1em;
  width: 100%;
}

form {
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

ul{
  height: 100%;
  list-style-type: none;
  overflow: scroll;
}

li{
  background-color: white;
  border: 1px solid #607D8B;
  margin: 1.8em;
  padding: .8em 1.8em 1.8em 1.8em;
}

.delete {
  border: none;
  color: #455A64;
  float: right;
  font-size: .8em;
  margin-top: .5em;
  outline: none;
  position: relative;
}

.read {
  border: none;
  color: #455A64;
  float: left;
  font-size: .8em;
  margin-top: .5em;
  outline: none;
  position: relative;
}

.clear {
  background-color: #FFC107;
  color: #FFFFFF;
  margin-top: 2em;
  outline: none;
  padding: 1em;
  width: 100%;
}

.clear {
  width: 100%;
  background-color: #FFC107;
  color: #FFFFFF;
  padding: 1em;
  outline: none;
  margin-top: 2em;
}

h3 {
  color: #455A64;
  padding-bottom: .7em;
}

h4 {
   color: #FFFFFF;
   padding: 1em;
}

p {
  color: #607D8B;
}

a {
  color: #607D8B;
}

.error{
  color: red;
}

button.read:hover, p.site:hover {
  font-weight: bold;
  text-decoration-color: #FFC107;
  text-decoration-line: underline;
}

button.delete:hover {
  text-decoration-color: #FFC107;
  text-decoration-line: underline;
}

.read-button {
  background-color: #f2F4F4;
}

.new-button {
  color: #F05A28;

}

.new-site {
  text-decoration-color: #CFD8DC;
  text-decoration-line: underline;
}

.site-click {
  padding-bottom: 3em;
}

.site {
  margin-bottom: 1em;
  margin-top: 1em;
}

.site-click {
  padding-bottom: 3em;
}

.site {
  margin-bottom: 1em;
  margin-top: 1em;
}

@media screen and (max-width:1330px) {
h1{
  font-size: 4em;
}
.logo-photo{
  width: 1em;
}  
}

@media screen and (max-width:1000px) {
h1{
  font-size: 3.5em;
}
form {
  width: 90%;
}

@media screen and (max-width:800px) {
.main-content {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.left-column {
  grid-row: 1 / span 1;
  height: 50vh;
  width: 100%;
}

.right-column{
  grid-column: 1 /span 1;
  grid-row: 2 / span 1; 
  height: 50vh;
  width: 100%;
}  
}