* {
	margin: 0;
  padding: 0;
}

h1 {
  color: #FFFFFF;
  font-size: 5em;
  margin-bottom: 2rem;
}

.main-content {
	display: grid;
	grid-template-columns: 1fr, 1fr;
  grid-auto-columns: 50%;
  grid-template-rows: 100vh; 
  font-family: 'Open Sans', sans-serif;
}

.left-column {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
  background-color: #455A64;
  height: 100%;
  margin-bottom: 0;
  position: fixed;
  width: 50%;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}


.right-column {
  grid-column: 2 / span 1;
  background-color: #CFD8DC;
  height: 100%;
  /*position: fixed right-column;*/
  width: 100%;
}

.logo-photo {
  width: 1.5em;
}

.enter {
  width: 100%;
  background-color: #FFC107;
  color: #FFFFFF;
  padding: 1em;
  outline: none;
}

.enter:disabled:hover {
  background-color: #FFC107;
  color: #FFFFFF;

}

.enter:hover {
  background-color: #FFD773;
}

div{
  text-align: center;
  padding-top: 5rem;
 /* border: 1px solid white;*/

}

input{
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
  display: block;
  padding: 1em;
  outline: none;
}

form {
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

ul{
  list-style-type: none;
  overflow: scroll;
  height: 100%;


}

li{
  border: 1px solid #607D8B;
  background-color: white;
  margin: 1.8em;
  padding: .8em 1.8em 1.8em 1.8em;

}

.delete {
  position: relative;
  float: right;
  border: none;
  color: #455A64;
  outline: none;
  font-size: .8em;
  margin-top: .5em;
}

.read {
  position: relative;
  float: left;
  border: none;
  color: #455A64;
  outline: none;
  font-size: .8em;
  margin-top: .5em;
}

.clear {
  width: 100%;
  background-color: #FFC107;
  color: #FFFFFF;
  padding: 1em;
  outline: none;
  margin-top: 2em;
}

h3 {
  
  color: #455A64;
  padding-bottom: .7em;
}

h4 {
   color: #FFFFFF;
   padding: 1em;
}



p {
  color: #607D8B;
}

a {
  color: #607D8B;
}

.error{
  color: red;
}

button.read:hover, p.site:hover {
  text-decoration-line: underline;
  text-decoration-color: #FFC107;
  font-weight: bold;
}

button.delete:hover {
  text-decoration-line: underline;
  text-decoration-color: #FFC107;
}

.read-button {
  background-color: #f2F4F4;
}

.new-button {
  color: #F05A28;

}

.new-site {
  text-decoration-line: underline;
  text-decoration-color: #CFD8DC;
}

.site-click {
  padding-bottom: 3em;
}

.site {
  margin-bottom: 1em;
  margin-top: 1em;
}

@media screen and (max-width:1330px) {
h1{
  font-size: 4em;
  }
.logo-photo{
  width: 1em;
}  
}


@media screen and (max-width:1000px) {
h1{
  font-size: 3.5em;
  }
form {
  width: 90%;
}


@media screen and (max-width:800px) {
.main-content {
/*  display: block;
*/
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.left-column {
grid-row: 1 / span 2;
width: 100%;
  }
.right-column{
  grid-row: 3 / span 2; 
}  
/*form{
  display: block;*/
}
}